beautifulsoup4==4.13.3
boto3
eventkit==1.0.3
exchange_calendars==4.9
gevent==24.11.1
greenlet==3.1.1
ib-insync==0.9.86
joblib==1.4.2
lxml==5.3.0
Nasdaq-Data-Link==1.0.4
numpy==2.2.2
pandas
pandas_market_calendars==4.6.1
pyarrow==19.0.0
pytz
requests
scikit-learn
websocket-client==1.8.0
yfinance==0.2.52
