anaconda-anon-usage 
archspec 
asttokens 
beautifulsoup4==4.13.3
boltons 
boto3 
botocore 
Bottleneck 
Brotli 
certifi 
cffi 
charset-normalizer 
conda 
conda-anaconda-telemetry 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
cryptography 
decorator 
distro 
eventkit==1.0.3
exchange_calendars==4.9
executing 
frozendict 
gevent==24.11.1
greenlet==3.1.1
html5lib==1.1
ib-insync==0.9.86
idna 
inflection==0.5.1
ipython 
jedi 
jmespath 
joblib==1.4.2
jsonpatch 
jsonpointer==2.1
korean-lunar-calendar==0.3.1
libmambapy 
lxml==5.3.0
markdown-it-py 
matplotlib-inline 
mdurl 
menuinst 
mkl-service==2.4.0
more-itertools==10.6.0
multitasking==0.0.11
Nasdaq-Data-Link==1.0.4
nest-asyncio 
numexpr 
numpy==2.2.2
packaging 
pandas 
pandas_market_calendars==4.6.1
parso 
peewee==3.17.9
pexpect 
platformdirs 
pluggy 
prompt-toolkit 
ptyprocess 
pure-eval 
pyarrow==19.0.0
pycosat 
pycparser 
Pygments 
pyluach==2.2.0
PySocks 
python-dateutil 
pytz 
requests 
rich 
ruamel.yaml 
ruamel.yaml.clib 
s3transfer 
setuptools==75.1.0
six 
soupsieve==2.6
stack-data 
toolz==1.0.0
tqdm 
traitlets 
truststore 
typing_extensions==4.12.2
tzdata 
urllib3 
wcwidth 
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
wheel==0.44.0
yfinance==0.2.52
zope.event==5.0
zope.interface==7.2
zstandard 
